.msgForm div{
  display: flex;
  justify-content: center;
  margin: auto;
  width: 700px;
}


.msgForm form textarea {
  margin: 10px;
  height: 100px;
  width: 500px;
}

.msgForm button {
  margin-top: 80px;
  height: 30px;
  width: 100px;
}

.msgList {
  padding-bottom: 5px;  
}

.msgList div{
  border: 1.5px solid;
  border-color: black;
  width: 500px;
  margin: 30px auto 10px auto; 
  background-color: white;
  border-radius: 10px;
}

.msgList .text {
  width: 450px;
  border: 0;
  font-size: 20px;
  text-align: left;
  font-weight: bold;
  margin: 10px auto 5px auto; 
}

.msgList .timestamp {
  width: 450px;
  border: 0;
  font-size: 10px;
  text-align: right;
  color: gray;
  margin: 5px auto 5px auto; 
}



@media (max-width: 600px) {

  .msgList .text div {
    width: 300px;
  }

}
