.gridItem {
  background-color: rgba( 204, 255, 204, 0.55 );
  text-align: center;
  border: 1.5px solid;
  border-radius: 10px;
  width: 200px;
  height: 150px;
  margin: auto;
  border-color: green;
  color: blue;
  transition: all 0.3s ease 0s;
}

.gridItem:hover{
  cursor: pointer;
	transform: scale(1.1, 1.1);
}

.gridItemInvalid {
  background-color: rgba(255, 100, 100, 0.55);
  text-align: center;
  border: 1.5px solid;
  border-radius: 10px;
  width: 200px;
  height: 150px;
  margin: auto;
  border-color: black;
  color: black;
  transition: all 0.3s ease 0s;
}

@media (max-width: 600px) {

}
